/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(240, 104, 25, 0.75);
  font-family: "Anonymous Pro", monospace;
  background-color: rgb(25, 25, 25);
}

.Typewriter__wrapper {
  font-size: large;
  color: greenyellow;
}

.Typewriter__cursor {
  font-size: large;
  color: greenyellow;
}

.Riddler_div {
  text-align: center;
}
